<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>CalorieTracker Application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">CalorieTracker</span>
      </a>
    </header>

    <h1>Dashboard (example)</h1>
    <div class="row align-items-md-stretch mb-4">
      <div class="col-md-6">
        <div class="shadow h-100 p-5 text-bg-success rounded-3">
          <p>Today's Calories:</p>
          <h1>1500</h1>
          <a class="btn btn-primary btn-lg" href="#" type="button">Track</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shadow h-100 p-5 bg-light border rounded-3">
          <p>Your Daily Calorie Goal:</p>
          <h1>2400</h1>
        </div>
      </div>

    </div>
    <div class="shadow p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 text-center">
        <h1>Recommended Meals</h1>
        <p>Lasagna: 336 Calories, Pasta: 275 Calories</p>
      </div>
    </div>
    <a class="btn btn-primary btn-lg" th:href="@{editprofile}" type="button">Edit Profile</a>
    <form th:action="@{/dashboard}" th:object="${calorie}" method="post">
      <div class="form-group first">
        <label for="calories1">Calories</label>
        <input type="number" th:field="*{calories}" id="calories1">
      </div>
<!--      <div class="form-group last mb-4">-->
<!--        <label for="food">Password</label>-->
<!--        <input th:field="*{food}" type="text" class="form-control" id="food">-->
<!--      </div>-->
      <input type="submit" value="Track" class="btn text-yellow btn-block btn-dark">
    </form>


  </div>
  </div>
  </div>
</main>
</body>

</html>